<!-- Header -->
<div class="bg-[#f0e9e0] py-8 text-center">
    <h1 class="text-6xl text-[#8c7a6b] mt-8 mb-24">PRODUCTS</h1>
</div>

<!-- Breadcrumbs -->
<div id="products-container" class="container mx-auto px-4">
    <div class="flex justify-between my-4">
        <div class="text-lg text-[#BD8256] ">
            <a href="#" class="hover:underline">HOME</a> / <a href="#" class="hover:underline">SHOP</a>
        </div>

        <form id="search-form" action="/product/search-filter" method="get">
            <input id="search-input" class="text-lg text-gray-500 font-medium border-2 border-gray-300 px-4 py-2"
                type="text" name="q" value="{{query}}" placeholder="Search products..." required>
            <button class="text-lg text-black font-bold font-medium border-2 border-black px-4 py-2 bg-gray-400"
                type="submit">Search</button>
        </form>

        <form id="form" action="/product/search-filter" method="get">
            <ul id="ct-top-menu"
                class="flex gap-8 uppercase text-lg text-gray-500 font-medium relative border-2 border-gray-300 rounded-lg backdrop-blur-lg shadow-xl px-4 py-2">
                <div class="item-center" id="search-icon">
                    <i class="fa-solid fa-magnifying-glass cursor-pointer"></i>
                </div>
                <!-- Price filter -->
                <li class="ct-top-menu-item">
                    <a href="#" class="hover:text-black">Price</a>
                    <ul class="checkbox-list hidden bg-white border border-gray-300 rounded-lg shadow-md mt-2 p-4">
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="price" data-value="<20" /> &#60; 20</label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="price" data-value="20-50" /> 20-50</label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="price" data-value="50-80" /> 50-80</label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="price" data-value="80-100" /> 80-100</label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="price" data-value=">100" /> &#62; 100</label></li>
                    </ul>
                </li>
                <!-- Gender filter -->
                <li class="ct-top-menu-item">
                    <a href="#" class="hover:text-black">Gender</a>
                    <ul class="checkbox-list hidden bg-white border border-gray-300 rounded-lg shadow-md mt-2 p-4">
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="gender" data-value="Male" /> Male </label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="gender" data-value="Female" /> Female </label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="gender" data-value="Unisex" /> Unisex </label></li>
                    </ul>
                </li>
                <!-- Kind filter -->
                <li class="ct-top-menu-item">
                    <a href="#" class="hover:text-black">Kind</a>
                    <ul class="relative hidden bg-white border border-gray-300 rounded-lg shadow-md mt-2 p-4">
                        <li class="group relative border-b border-gray-300 rounded-lg px-2">
                            <label><input type="checkbox" class="filter mr-2" data-filter="
                            kind" data-value="Featured" /> Featured</label>
                        </li>
                        <li class="group relative border-b border-gray-300 rounded-lg px-2">
                            <label><input type="checkbox" class="filter mr-2 cursor-pointer" data-filter="kind"
                                    data-value="tops" /> Tops</label>
                            <ul
                                class="absolute left-full top-0 hidden group-hover:block bg-white border border-gray-300 shadow-lg p-4 space-y-2 w-48">
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Shirt" /> Shirt</label>
                                </li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="T-shirt" />
                                        T-shirt</label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Coat" /> Coat</label>
                                </li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Sweater" />
                                        Sweater</label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Cardigan" />
                                        Cardigan</label></li>
                            </ul>
                        </li>
                        <li class="group relative border-b border-gray-300 rounded-lg px-2">
                            <label><input type="checkbox" class="filter mr-2 cursor-pointer" data-filter="kind"
                                    data-value="bottoms" /> Bottoms</label>
                            <ul
                                class="absolute left-full top-0 hidden group-hover:block bg-white border border-gray-300 shadow-lg p-4 space-y-2 w-48">
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Trousers" />
                                        Trousers</label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Dress" /> Dress</label>
                                </li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Skirt" /> Skirt</label>
                                </li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Jeans" /> Jeans</label>
                                </li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Pants" /> Pants</label>
                                </li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Shorts" /> Shorts</label>
                                </li>
                            </ul>
                        </li>
                        <li class="group relative border-b border-gray-300 rounded-lg px-2">
                            <label><input type="checkbox" class="filter mr-2 cursor-pointer" data-filter="kind"
                                    data-value="shoes" /> Shoes </label>
                            <ul
                                class="absolute left-full top-0 hidden group-hover:block bg-white border border-gray-300 shadow-lg p-4 space-y-2 w-48">
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Sandals" /> Sandals
                                    </label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Sneakers" /> Sneakers
                                    </label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="High heels" /> High heels
                                    </label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Slip-ons" /> Slip-ons
                                    </label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Slippers" /> Slippers
                                    </label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Flip-flops" /> Flip-flops
                                    </label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Boots" /> Boots </label>
                                </li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Ballet flats" /> Ballet
                                        flats </label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Crocs" /> Crocs </label>
                                </li>
                            </ul>
                        </li>
                        <li class="group relative border-b border-gray-300 rounded-lg px-2">
                            <label><input type="checkbox" class="filter mr-2 cursor-pointer" data-filter="kind"
                                    data-value="accessories" /> Accessories </label>
                            <ul
                                class="absolute left-full top-0 hidden group-hover:block bg-white border border-gray-300 shadow-lg p-4 space-y-2 w-48">
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Hat" /> Hat </label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Belt" /> Belt </label>
                                </li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Socks" /> Socks </label>
                                </li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Scarf" /> Scarf </label>
                                </li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Glove" /> Glove </label>
                                </li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Sunglasses" /> Sunglasses
                                    </label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Wallet" /> Wallet
                                    </label></li>
                                <li class="border-b border-gray-300 px-2"><label><input type="checkbox"
                                            class="filter mr-2" data-filter="kind" data-value="Purse" /> Purse </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Material filter -->
                <li class="ct-top-menu-item">
                    <a href="#" class="hover:text-black">Material</a>
                    <ul
                        class="checkbox-list bg-white border border-gray-300 rounded-lg shadow-md mt-2 p-4 grid grid-cols-2 gap-x-4 hidden">
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="material" data-value="Cotton" /> Cotton </label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="material" data-value="Nylon" /> Nylon </label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="material" data-value="Chiffon" /> Chiffon </label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="material" data-value="Leather" /> Leather </label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="material" data-value="Linen" /> Linen </label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="material" data-value="Polar Fleece" /> Polar Fleece </label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="material" data-value="Tussar Silk" /> Tussar Silk </label></li>
                        <li class="border-b border-gray-300 px-2"><label><input type="checkbox" class="filter"
                                    data-filter="material" data-value="Velvet" /> Velvet </label></li>
                    </ul>
                </li>
            </ul>
            <button type="submit" id="apply-filters" class="mt-4 p-2 bg-blue-500 border text-black rounded">Apply
                Filters</button>
        </form>
    </div>
    <hr class="border-gray-800 mt-8 mb-6">
    <div class="flex justify-between items-center mb-4">
        <div class="text-xl text-[#8c7a6b]">Showing 1-8 of 9 results</div>
        <select class="border border-gray-600 rounded py-3 px-8 text-xl">
            <option>Default sorting</option>
            <option>Sort by popularity</option>
            <option>Sort by average rating</option>
            <option>Sort by lastest</option>
            <option>Sort by price: low to high</option>
            <option>Sort by price: high to low</option>
        </select>
    </div>
    <!-- Product List -->
    <div id="product-list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mb-16">
        {{#each products}}
        <div class="bg-white rounded-lg shadow-2xl p-4 text-center"
            onclick="window.location.href='/detail/{{formatName this.name}}'">
            <img class="product-card mx-auto my-6 object-cover cursor-pointer" src="{{this.imageUrl}}"
                alt="{{this.name}}">
            <h2 class="text-xl text-[#8c7a6b] m-3  cursor-pointer">{{this.name}}</h2>
            {{#if this.discountedPrice}}
            <p class="text-xl text-[#BD8256] mb-4 line-through">£{{this.price}}</p>
            <p class="text-xl text-red-400 mb-4">£{{this.discountedPrice}}</p>
            {{else}}
            <p class="text-xl text-[#BD8256] mb-4">£{{this.price}}</p>
            {{/if}}
            <button class="bg-[#AC6F53] text-white py-3 px-16 rounded-3xl hover:bg-[#7a6c5b]">ADD TO CART</button>
        </div>
        {{/each}}
    </div>
    <!-- Pagination -->
    <div id="pagination" class="flex justify-center mt-8">
        <button class="pagination-btn bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 mx-1 rounded"
            data-page="1">1</button>
        <button class="pagination-btn bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 mx-1 rounded"
            data-page="2">2</button>
        <button class="pagination-btn bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 mx-1 rounded"
            data-page="3">3</button>
        <button class="pagination-btn bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 mx-1 rounded"
            data-page="3">4</button>
        <button class="pagination-btn bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 mx-1 rounded"
            data-page="3">5</button>
    </div>

</div>

<script>
    document.getElementById('form').addEventListener('submit', handleFormSubmit);
    document.getElementById('search-form').addEventListener('submit', handleFormSubmit);


    async function handleFormSubmit(event) {
        event.preventDefault();

        // Collect selected filters
        const selectedFilters = {};
        document.querySelectorAll('.filter:checked').forEach(input => {
            const filterType = input.dataset.filter;
            const value = input.dataset.value;
            if (!selectedFilters[filterType]) {
                selectedFilters[filterType] = [];
            }
            selectedFilters[filterType].push(value);
        });

        //console.log('Selected Filters:', selectedFilters);
        const searchQuery = document.getElementById('search-input').value || '';
        const excludeProductId = null; // Set this if you need to exclude a specific product
        const limit = 10; // Set the limit as needed

        try {
            const response = await fetch(`/product/search-filter?q=${encodeURIComponent(searchQuery)}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ filters: selectedFilters, excludeProductId, limit }),
            });

            if (response.ok) {
                const products = await response.json();
                displayProducts(products);
            } else {
                console.error('Failed to fetch products');
            }
        } catch (error) {
            console.error('Error fetching products:', error);
        }
    };

    // Function to display products
    function displayProducts(products) {
        const productContainer = document.getElementById('product-list');
        productContainer.innerHTML = '';

        products.forEach(product => {
            const productElement = document.createElement('div');
            productElement.className = 'bg-white rounded-lg shadow-2xl p-4 text-center';
            productElement.onclick = () => window.location.href = `/detail/${formatName(product.name)}`;

            productElement.innerHTML = `
            <img class="product-card mx-auto my-6 object-cover cursor-pointer" src="${product.imageUrl}" alt="${product.name}" >
            <h2 class="text-xl text-[#8c7a6b] m-3 cursor-pointer">${product.name}</h2>
            <p class="text-xl text-[#BD8256] mb-4 cursor-pointer">£${product.price}</p>
            <button class="bg-[#AC6F53] text-white py-3 px-16 rounded-3xl hover:bg-[#7a6c5b]">ADD TO CART</button>
        `;

            productContainer.appendChild(productElement);
        });
    }

    function formatName(name) {
        return name.toLowerCase().replace(/ /g, '-').replace(/[^\w-]+/g, '');
    }

</script>